body{
    margin: 0%;
}
header{
    background-color: rgb(223, 223, 223);
    display: flex;
    justify-content: center;
    padding: 05px;
}
nav ul{
    display: flex;
    justify-content: center;
    margin-top: 0%;
    
}
nav ul li{
    display: inline-block;
    padding-right: 40px;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(194, 194, 194);
}
nav ul li :hover{
    text-decoration: underline;
    color: black;
}
footer{
    width: 100%;
    font-size: small;
    color: white;
    background-color: black;
    text-align: end;
    position: absolute;
}
.contenidoi{
    display: flex;
    .inicio{
        padding: 25px;
        width: 99%;
        font-size: 17px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .noticias{
        padding: 5px;
        width: 20%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 14px;
    }
}
.contenidop{
    display: flex;
    justify-content: center;
    padding-top: 6%;
    padding-bottom: 4.4%;
    .prod1{
        background-color: rgb(223, 223, 223);
        padding: 20px;
        width: 250px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .prod2{
        background-color: rgb(223, 223, 223);
        padding: 20px;
        width: 250px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .prod3{
        background-color: rgb(223, 223, 223);
        padding: 20px;
        width: 250px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .prod4{
        background-color: rgb(223, 223, 223);
        padding: 20px;
        width: 250px;
        margin-left: 25px;
        margin-right: 25px;
    }
}
.cuerpo-productos{
    background-color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 25px;
    .carrito{
        background-color: black;
        color: white;
        text-align: center;
        padding: 25px;
        border-radius: 15px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}
.fondo{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(./img/tlop-fondo.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -10;
}
.fondo2{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(./img/UPA-fondo.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -10;
}
.fondo3{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(./img/madri-fondo.webp);
    background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -10;   
}
.fondo4{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(./img/mmcd-fondo.png);
    background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -10; 
}
.contenidoc{
    display: flex;
    justify-content: center;
    .ubicacion{
        margin: 40px;
        border-width: thick;
        border-color: black;
        border-style: solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        .titulo{
            width: 100%;
            display: flex;
            align-items: center;
            border-width: thick;
            border-color: black;
            border-style: solid;
            justify-content: center;
        }
    }
    .info{
        border-width: 20px;
        border-color: black;
        border-style: solid;
        border-radius: 30px;
        width: 250px;
        background-color: white;    
        margin: 17px;
        text-align: center;
        padding-top: 5px;
        .titulo{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .ubi{
            display: flex;
            align-items: center;
            justify-content: baseline;
            padding-left: 10px;
        }
        .correo{
            display: flex;
            align-items: center;
            justify-content: baseline;
            padding-left: 10px;
        }
        .tel{
            display: flex;
            align-items: center;
            justify-content: baseline;
            padding-left: 10px;
        }
        .botones{
            background-color: black;
            .boton{
            background-color: white;
            border-width: 10px;
            border-color: black;
            border-style: solid;
            border-radius: 100%;
            width: 20px;
            height: 20px;
            margin-left: 105px;
            margin-top: 190px;
            padding: 5px;
        }
        }
        
    }
}