body{
    margin: 0%;
}
header{
    background-color: rgb(223, 223, 223);
    display: flex;
    justify-content: center;
    padding: 05px;
}
nav ul{
    display: flex;
    justify-content: center;
    margin-top: 0%;
    
}
nav ul li{
    display: inline-block;
    padding-right: 40px;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(194, 194, 194);
}
nav ul li :hover{
    text-decoration: underline;
    color: black;
}
footer{
    width: 100%;
    font-size: small;
    color: white;
    background-color: black;
    text-align: end;
    position: absolute;
}
.contenidoi{
    display: flex;
    .inicio{
        padding: 25px;
        width: 99%;
        font-size: 17px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .noticias{
        padding: 5px;
        width: 20%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 14px;
    }
}
.contenidop{
    display: flex;
    justify-content: center;
    padding-top: 6%;
    padding-bottom: 4.4%;
    .prod1{
        background-color: rgb(223, 223, 223);
        padding: 20px;
        width: 250px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .prod2{
        background-color: rgb(223, 223, 223);
        padding: 20px;
        width: 250px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .prod3{
        background-color: rgb(223, 223, 223);
        padding: 20px;
        width: 250px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .prod4{
        background-color: rgb(223, 223, 223);
        padding: 20px;
        width: 250px;
        margin-left: 25px;
        margin-right: 25px;
    }
}
